header {
    display: flex;
    background-color: grey;
    height: 3rem;
    padding: 1rem;
}

.logo {
    background-image: url(../logo.freetime.png);
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}