header {
    background-color: blanchedalmond;
    height: 3rem;
    padding: 1rem;
}

.logo {
    background-image: url(../logo.freetime.png);
    height: 4rem;
    width: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: space-between;

}


.round-button-wrapper {
    height: 2.5rem;
    border-radius: 1.5rem;
    background-color: #020442;
    padding-left: 2rem;
    padding-right: 2rem;
}

.round-button-text, .link{
    line-height: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    color: white;
}

.link {
    color: black;
}

.splash {
    position: relative;
}
.splash-img {
    background-size: 99%;
    background-image: url(../backg-img-activities.jpeg);
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.splash-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 2rem;
}
.splash-text h1 {
    color:red;
    border: black; 
}

